
body {
  background-color: rgb(65, 65, 65);
  color: rgb(228, 228, 228);
  font-family: Garamond, serif;
}

a {
  color: rgb(215, 175, 96);
}

img {
  border-radius: 50%;
  max-width: 400px;
  max-height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.topnav {
  overflow: hidden;
  background-color: #201f1f;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.search {
  background-color: #4CAF50;
  color: white;
}
.topnav-right {
  float: right;
}

.name {
  left: 1000px;
}
